<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
AuthGroupFile /dev/null
AuthType Basic
AuthUserFile /home/suamaytinh/domains/dichvusuachuamaytinh.net/.htpasswd/public_html/wp-admin/.htpasswd
AuthName "quyet"
